{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<!-- form errors -->
{% if form.errors %} {% for field in form %} {% for error in field.errors %}
<div class="alert alert-danger">{{field.name}}<strong> {{ error|escape }}</strong></div>
{% endfor %} {% endfor %} {% for error in form.non_field_errors %}
<div class="alert alert-danger">{{field.name}} <strong>{{ error|escape }}</strong></div>
{% endfor %} {% endif %}

<h3>Membership</h3>
<br />
<form method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-4">{{form.membership_type|as_crispy_field}}</div>
        <div class="col-md-4">{{form.membership_term|as_crispy_field}}</div>
    </div>

    <!-- <div class="col-md-8">
        <span>

            {% for model_instance in form.membership_type.field.choices.queryset %}
            <span class="dropdown-item" data-value="{{ model_instance.id }}">{{ model_instance.name }}</span> |
            Monthly<span class="dropdown-item" data-value="{{ model_instance.id }}">{{ model_instance.monthly_price }}</span> |
            Yearly<span class="dropdown-item" data-value="{{ model_instance.id }}">{{ model_instance.yearly_price_after_discount }}</span> 
            {% endfor %}

        </span>
    </div> -->

    <br />

    <div class="row">
        <div class="col-md-4">{{form.title|as_crispy_field}}</div>
        <div class="col-md-4">{{form.first_name|as_crispy_field}}</div>
        <div class="col-md-4">{{form.last_name|as_crispy_field}}</div>
    </div>

    <div class="row">
        <div class="col-md-6">{{form.email|as_crispy_field}}</div>
    </div>

    <div class="row">
        <div class="col-md-12">{{form.address|as_crispy_field}}</div>
    </div>

    <div class="row">
        <div class="col-md-6">{{form.city_id|as_crispy_field}}</div>
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Proceed to Payment" />
</form>

<script>
    $(function () {
        $("#datepicker").datepicker({});
    });
</script>

{% endblock content %}
